<div class="col-md-4">
  <div class="box box-widget widget-user-2">
    <a href="<%= team_member_path(tm) %>">
      <div class="widget-user-header bg-green">
        <div class="widget-user-image">
          <img src="<%= image_path('user.svg') %>" alt="User Avatar">
        </div>
        <h3 class="widget-user-username"><%= tm.name %></h3>
        <h5 class="widget-user-desc"><%= tm.role %></h5>
      </div>
    </a>

    <div class="box-footer no-padding">
      <ul class="nav nav-stacked">
        <li><a href="#">Role <span class="pull-right badge bg-green"><%= tm.role %></span></a></li>
        <li><a href="#">Projects <span class="pull-right badge bg-green"><%= tm.projects.collect(&:name).join(", ") %></span></a></li>
        <li><a href="<%= edit_team_member_path(tm) %>">Edit Team Member</a></li>
      </ul>
    </div>
  </div>
</div>
