<%= render partial: 'shared/page_title', locals: { title: 'Users' } %>


<section id= "content" class="content" %>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Users</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered">
            <tbody><tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Clients</th>
            </tr>
              <% @users.each do |user| %>
                <td><%= link_to user.first_name, user_path(user) %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.role.titleize %></td>
                <td><%= user.clients.collect(&:name).join(', ') %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</section>
