<header class="main-header">
  <a href="<%= root_path %>" class="logo" style="background-color: #1a2226">
    <%= image_tag "logo-large.png", style: "width: 120px;", class: "logo-lg" %>
    <%= image_tag "logo-small.png", style: "width: 25px;", class: "logo-mini" %>
  </a>

  <nav class="navbar navbar-static-top" role="navigation" style="background-color: #1a2226">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only pull-left">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" style="cursor: default">
            <%= image_tag current_user.gravatar_image_url, class: "user-image", alt: "User Image" %>
            <span class="hidden-xs"><%= current_user.full_name %></span>
          </a>
        </li>
        <li>
          <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </div>
  </nav>
</header>
