<% right_action ||= {} %>

<section class="content-header c-page-header">

  <div class="c-page-header__title"><%= title %></div>
  <div class="c-page-header__description"><%= description %></div>

  <% if right_action.present? %>
    <div class="c-page-header__action">
      <a href="<%= right_action[:link] %>" class="o-button" ng-click="<%= right_action[:angular_method] %>">
        <%= right_action[:text] %>
      </a>
    </div>
  <% end %>

  <% if menu.present? %>
    <div class="c-page-header__menu">
      <% menu.each do |m| %>
        <a href="<%= m[:url] %>" class="c-page-menu__item <%= m[:active] ? 'is-active' : '' %>">
          <i class="fa fa-<%= m[:icon] %>"></i>
          <%= m[:key] %>
        </a>
      <% end %>
    </div>
  <% end %>

</section>
