<aside class="main-sidebar">
  <section class="sidebar">
    <a class="user-panel" href="<%= profile_path %>">
      <div class="pull-left image">
        <%= image_tag current_user.gravatar_image_url, class: "img-circle", alt: "User Image" %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.full_name %></p>
      </div>
    </a>
    <ul class="sidebar-menu">
      <li class="header">GLOBAL</li>
      <li class="<%= controller_name == 'home' ? 'active' : '' %>">
        <a href="<%= root_path %>">
          <i class="fa fa-th"></i> <span>Dashboard</span>
        </a>
      </li>
      <% if can? :manage, :beta %>
        <li class="<%= controller_name == 'time_trackings' ? 'active' : '' %>">
          <a href="<%= time_tracking_path %>">
            <i class="fa fa-clock-o"></i> <span>Time Tracking</span>
          </a>
        </li>
        <li class="treeview <%= controller_name == 'reports' ? 'active' : '' %>">
          <a href="#">
            <i class="fa fa-file-text"></i>
            <span>Time Reports</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="<%= action_name == 'index' ? 'active' : '' %>"><a href="<%= reports_path %>"><i class="fa fa-circle-o"></i> Summary Report</a></li>
            <li class="<%= action_name == 'detailed' ? 'active' : '' %>"><a href="<%= reports_path %>"><i class="fa fa-circle-o"></i> Detailed Report</a></li>
            <li class="<%= action_name == 'weekly' ? 'active' : '' %>"><a href="<%= reports_path %>"><i class="fa fa-circle-o"></i> Weekly Report</a></li>
          </ul>
        </li>

      <% end %>
      <li class="<%= controller_name == 'projects' || controller_name == 'clients' ? 'active' : '' %>">
        <a href="<%= clients_path %>">
          <i class="fa fa-code"></i> <span>Projects</span>
        </a>
      </li>
      <% if can?(:manage, :admin) %>
        <li class="header">ACCOUNT ADMIN</li>
        <li class="<%= controller_name == 'users' ? 'active' : '' %>">
          <a href="<%= users_path %>">
            <i class="fa fa-users"></i> <span>User Management</span>
          </a>
        </li>
        <li class="<%= controller_name == 'accounts' ? 'active' : '' %>">
          <a href="<%= account_path %>">
            <i class="fa fa-cogs"></i> <span>Account Settings</span>
          </a>
        </li>
      <% end %>
      <% if @favorite_projects.any? %>
        <li class="header">FAVORITE PROJECTS</li>
        <% @favorite_projects.each do |p| %>
          <li>
            <a href="<%= project_path(p) %>">
              <i class="fa fa-star text-aqua"></i><span><%= p.name %> - <%= p.client.name %></span>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
</aside>
