<aside class="main-sidebar">

  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">GLOBAL</li>
      <li class="<%= controller_name == 'home' ? 'active' : '' %>">
        <a href="<%= root_path %>">
          <i class="fa fa-th"></i> <span>Dashboard</span>
        </a>
      </li>
      <% if can? :manage, :beta %>
        <li class="<%= controller_name == 'time_trackings' ? 'active' : '' %>">
          <a href="<%= time_tracking_path %>">
            <i class="fa fa-clock-o"></i> <span>Time Tracking</span>
          </a>
        </li>
        <li class="<%= controller_name == 'reports' ? 'active' : '' %>">
          <a href="<%= reports_path %>">
            <i class="fa fa-file-text"></i> <span>Reports</span>
          </a>
        </li>
      <% end %>
      <li class="<%= controller_name == 'projects' || controller_name == 'clients' ? 'active' : '' %>">
        <a href="<%= clients_path %>">
          <i class="fa fa-code"></i> <span>Projects</span>
        </a>
      </li>
      <% if can?(:manage, :admin) %>
        <li class="header">ACCOUNT ADMIN</li>
          <li class="<%= controller_name == 'users' ? 'active' : '' %>">
            <a href="<%= users_path %>">
              <i class="fa fa-users"></i> <span>User Management</span>
            </a>
          </li>
          <li class="<%= controller_name == 'accounts' ? 'active' : '' %>">
            <a href="<%= account_path %>">
              <i class="fa fa-cogs"></i> <span>Account Settings</span>
            </a>
          </li>
        </li>
      <% end %>
    </ul>
  </section>

</aside>
