<%= render partial: 'shared/page_title',
  locals: {
    title: @client.name,
    description: @client.projects.length.to_s + ' active projects',
    menu: []
  }
%>

<section class="content">
  <div class="c-white-box">
    <div class="row">
      <div class="col-xs-6 o-separator-right">
        <div class="c-list__item">
          <div class="c-list__item__key">Hours Last Week</div>
          <div class="c-list__item__value"><%= @client.hours_last_week %></div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="c-list__item">
          <div class="c-list__item__key">People Who Contributed Last Week</div>
          <div class="c-list__item__value"><%= @client.people_involved_last_week %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-white-box">
    <div class="c-white-box__upper-desc">
      Client Summary
    </div>

    <div class="c-white-box__title">
      General Attributes of the Client
    </div>

    <div class="c-white-box__desc">
      <%= @client.description || "<i>The client hasn't a description yet</i>".html_safe %>
    </div>

    <div class="c-white-box__action">
      <%= link_to "Edit", edit_client_path(@client), class: "o-button" %>
    </div>

    <div class="c-list">
      <% @client.projects.each_slice(3).to_a.each do |group| %>
        <div class="o-separator"></div>
        <div class="row">
          <% group.each_with_index do |project, proj_index| %>
              <% if group.length == 1 %>
                <div class="col-xs-3"></div>
                <div class="col-xs-6 o-separator-left o-separator-right">
                  <div class="c-list__item border-left">
                    <div class="c-list__item__title">
                      <%= project.name %>
                    </div>
                    <div class="c-list__item__action">
                      <div class="o-button">
                        View Project
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3"></div>
              <% end %>
              <% if group.length == 2 %>
                <div class="col-xs-6 <%= proj_index == 0 ? 'o-separator-right' : '' %>">
                  <div class="c-list__item">
                    <div class="c-list__item__title">
                      <%= project.name %>
                    </div>
                    <div class="c-list__item__action">
                      <a href="<%= project_path(project) %>" class="o-button">
                        View Project
                      </a>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if group.length == 3 %>
                <div class="col-xs-4 <%= proj_index == 1 ? 'o-separator-left o-separator-right' : '' %>">
                  <div class="c-list__item">
                    <div class="c-list__item__title">
                      <%= project.name %>
                    </div>
                    <div class="c-list__item__action">
                      <a href="<%= project_path(project) %>" class="o-button">
                        View Project
                      </a>
                    </div>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="o-separator"></div>
    </div>
  </div>

</section>
