<section id="three" class="wrapper style3 special" style="background-color: #fff">
  <h2 style="color: #222">Sponsors</h2>
	<div class="inner">
		<header class="major">
      <%= image_tag "LogoOro.png", style: "width: 50%" %>
		</header>
	</div>
</section>

<section id="three" class="wrapper style3 special" style="background-color: #ccc">
	<div class="inner">
		<header class="major">
      <p style="width: 40%; font-size: 3vw; display: inline-block; font-weight: 600; line-height: 50px; padding: 20px">Marcos Ríos Isabel Valdez y Flia.</p>
      <%= image_tag "LOGO-IDT.png", style: "width: 40%" %>
		</header>
	</div>
</section>

<section id="three" class="wrapper style3 special" style="background-color: #444">
	<div class="inner">
		<header class="major" style="padding-top: 20px">
      <%= image_tag "Difusion.png", style: "width: 30%; padding: 1.5vw; margin-top: -26px; vertical-align: top;" %>
      <%= image_tag "Ferrere_logo.png", style: "width: 25%; padding: 1.5vw; vertical-align: top;" %>

      <br>

      <%= image_tag "Valdez.png", style: "width: 30%; padding: 1.5vw; vertical-align: top;; opacity: .8;" %>
		</header>
	</div>
</section>

<section id="three" class="wrapper style3 special" style="background-color: #222">
	<div class="inner">
		<header class="major">
      <%= image_tag "Marfrig.png", style: "width: 20%; padding: 2vw; opacity: .6;" %>
      <%= image_tag "DelFraile.png", style: "width: 20%; padding: 2vw; opacity: .6;" %>
      <%= image_tag "Frutifor.png", style: "width: 20%; padding: 2vw; opacity: .6;" %>
      <%= image_tag "Suma.png", style: "width: 20%; padding: 2vw; opacity: .6;" %>

      <%= image_tag "sepe.png", style: "width: 20%; padding: 2vw; opacity: .6;" %>
      <%= image_tag "Valleeden.png", style: "width: 20%; padding: 2vw; opacity: .6;" %>
		</header>
	</div>
</section>

<section id="three" class="wrapper style3 special" style="background-color: #e82a0f">
	<div class="inner">
		<header class="major">
			<p style="color: #fff; font-size: 15px">
				TEDxBalnearioIporá es un evento gratuito y sin fines de lucro que se financia exclusivamente a través de sus sponsors. <br>
				Unirse a este selecto grupo de patrocinadores genera importantes beneficios: formar parte de una marca de <br>
				prestigio internacional, lograr visibilidad en un sector de la sociedad sediento de nuevas oportunidades, <br>
				obtener acceso privilegiado en el evento y un paquete de entradas especial, entre otros beneficios. <br> <br>

				Todos los interesados en obtener más información para formar parte del evento, pueden contactar a los <br>
				organizadores a través del email:
				<a class="red" href="mailto: sponsors@tedxbalnearioipora.com">sponsors@tedxbalnearioipora.com</a>.
			</p>
		</header>
	</div>
</section>
