<!-- Page Wrapper -->
  <div id="page-wrapper">

    <%= render partial: "banner" %>

    <!-- TED -->
    <%= render partial: "ted" %>

    <!-- TEDx -->
    <%= render partial: "tedx" %>

    <!-- Speakers -->
    <%= render partial: "speakers" %>

    <!-- Sponsors -->
    <%= render partial: "sponsors" %>

    <!-- CTA -->
    <%= render partial: "cta" %>

    <!-- Footer -->
    <%= render partial: "footer" %>

  </div>
