<%= render partial: 'shared/page_title', locals: { title: 'Dashboard', description: 'X active projects', menu: [] } %>

<section id= "content" class="content" ng-controller="WidgetsController">
  <div class="c-dashboard-header">
    <div class="c-dashboard-header__title">
      Hi Gabriel, Welcome to Mojito!
    </div>
    <div class="c-dashboard-header__separator"></div>
    <div class="c-dashboard-header__subtitle">
      Last Week Overview
    </div>
  </div>

  <div class="c-white-box">
    <div class="row">
      <div class="col-xs-6 o-separator-right">
        <div class="c-list__item">
          <div class="c-list__item__key">Hours Last Week</div>
          <div class="c-list__item__value">1892h</div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="c-list__item">
          <div class="c-list__item__key">Active People</div>
          <div class="c-list__item__value">28 people</div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-dashboard-header">
    <div class="c-dashboard-header__separator"></div>
    <div class="c-dashboard-header__subtitle">
      Featured Projects
    </div>
  </div>

  <% if @favorite_projects.any? %>
    <% @favorite_projects.each do |p| %>
      <div class="c-white-box">
        <div class="c-white-box__upper-desc">
          Project Summary
        </div>

        <div class="c-white-box__title">
          <%= p.name %>
        </div>

        <div class="c-white-box__desc">
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
          <div>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
          <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
        </div>

        <div class="c-white-box__action">
          <a href="<%= project_path(p.id) %>" class="o-button">
            Explore Project
          </a>
        </div>

        <div class="o-separator"></div>

        <div class="row">
          <div class="col-xs-6"%>
            <div class="c-white-box u-no-left-padding u-no-right-padding u-no-bottom-padding">
              <div class="c-white-box__upper-desc">
                Velocity Report
              </div>

              <div class="c-white-box__title">
                Points Completed Over Time
              </div>

              <canvas class="project_velocity" data-id=<%= p.id %> height="200" width="600"></canvas>

              <div class="c-white-box__action">
                <a href="<%= team_performance_project_path(p.id) %>" class="o-button">
                  Explore Performance
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-6"%>
            <div class="c-white-box u-no-left-padding u-no-right-padding u-no-bottom-padding">
              <div class="c-white-box__upper-desc">
                Hours Usage
              </div>

              <div class="c-white-box__title">
                Time Usage Over Time
              </div>

              <canvas class="project_total_time" data-id=<%= p.id %> height="200" width="600"></canvas>

              <div class="c-white-box__action">
                <a href="<%= time_distribution_project_path(p.id) %>" class="o-button">
                  Explore Distribution
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</section>
