<div class="row">
  <div class="col-xs-5">
    <div class="box box-widget widget-user-2">
      <div class="widget-user-header bg-green">
        <h3 class="widget-user-username" style="margin-left: 0; margin-bottom: 10px"><%= @project.name %>
          <% if @favorite %>
            <p class='pull-right'><%= link_to "Remove Favorite", favorite_project_path(@project), style: 'font-size: 18px; color: #acd0e5' %></p>
          <% else %>
            <p class='pull-right'><%= link_to "Mark as Favorite", favorite_project_path(@project), style: 'font-size: 18px; color: #acd0e5' %></p>
          <% end %>
        </h3>
        <h5 class="widget-user-desc" style="margin-left: 0"><%= @project.client.name %>
          <% if can? :manage, :projects %>
            <p class='pull-right'><%= link_to "Edit", edit_project_path(@project), style: 'font-size: 15px; color: #acd0e5' %> - <%= link_to "Add Work Entries", work_entries_project_path(@project), style: 'font-size: 15px; color: #acd0e5' %></p>
          <% end %>
        </h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a href="#">Team Leader <span class="pull-right badge bg-green"><%= @project.team_leader.try(:name) || "-" %></span></a></li>
          <li><a href="#">Daily Meetings <span class="pull-right badge bg-green"><%= @project.daily_meeting || "No data about daily meetings" %></span></a></li>
          <li><a href="#">Retrospectives <span class="pull-right badge bg-green"><%= @project.retrospectives || "No data about retrospectives" %></span></a></li>
          <li><a href="#">Iteration Plannings <span class="pull-right badge bg-green"><%= @project.iteration_planning || "No data about iteration planning" %></span></a></li>
          <li><a href="#">Estimates Model <span class="pull-right badge bg-green"><%= @project.estimates_model || "No data about estimates model" %></span></a></li>
          <li><a href="#">Issue Tracker <span class="pull-right badge bg-green"><%= @project.issue_tracker || "No data about issue tracker" %></span></a></li>
          <li><a href="#">Code Review Model <span class="pull-right badge bg-green"><%= @project.code_review_model || "No data about code review model" %></span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-7">
    <div class="row">
      <div class="col-xs-12">
        <div class="info-box">
          <div class="info-box-content" style="margin-left: 0; border-left: 4px solid #00a65a;">
            <span class="info-box-text" style="margin-bottom: 10px"><b>Mision</b></span>
            <span class="info-box-text"><%= @project.mision %></span>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="info-box">
          <div class="info-box-content" style="margin-left: 0; border-left: 4px solid #00a65a;">
            <span class="info-box-text" style="margin-bottom: 10px"><b>Vision</b></span>
            <span class="info-box-text"><%= @project.vision %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
