<div class="c-white-box">
  <div class="c-white-box__upper-desc">
    Project Summary
  </div>

  <div class="c-white-box__title">
    General Attributes of the Project
  </div>

  <div class="c-white-box__desc"><%= @project.summary_text %></div>

  <div class="c-white-box__desc">
    <div class="c-team_leader_box">
      <%= image_tag @project.team_leader.gravatar_image_url, class: "c-team_leader_box__image", alt: "Team Leader" %>
      <div class="c-team_leader_box__name">
        <%= "Team Leader: " + @project.team_leader.full_name %>
      </div>
    </div>
  </div>

  <div class="c-white-box__action">
    <a href="<%= edit_project_path(@project.id) %>" class="o-button">Edit Project</a>
  </div>

  <div class="c-list">
    <div class="o-separator"></div>
    <div class="row">
      <div class="col-xs-4 o-separator-right">
        <div class="c-list__item">
          <div class="c-list__item__key">
            Daily Meetings
          </div>
          <div class="c-list__item__value">
            <%= @project.daily_meeting || "-" %>
          </div>
        </div>
      </div>
      <div class="col-xs-4 o-separator-right">
        <div class="c-list__item">
          <div class="c-list__item__key">
            Retrospectives
          </div>
          <div class="c-list__item__value">
            <%= @project.retrospectives || "-" %>
          </div>
        </div>
      </div>
      <div class="col-xs-4 o-separator-right">
        <div class="c-list__item">
          <div class="c-list__item__key">
            Iteration Planning
          </div>
          <div class="c-list__item__value">
            <%= @project.iteration_planning || "-" %>
          </div>
        </div>
      </div>
    </div>

    <div class="o-separator"></div>

    <div class="row">
      <div class="col-xs-6 o-separator-right">
        <div class="c-list__item">
          <div class="c-list__item__key">
            Code Review
          </div>
          <div class="c-list__item__value">
            <%= @project.code_review_model || "-" %>
          </div>
        </div>
      </div>
      <div class="col-xs-6 o-separator-right">
        <div class="c-list__item">
          <div class="c-list__item__key">
            Issue Tracker
          </div>
          <div class="c-list__item__value">
            <%= @project.issue_tracker || "-" %>
          </div>
        </div>
      </div>
    </div>
    <div class="o-separator"></div>
  </div>
</div>
