<div class="c-project-header">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right c-project-header__action">
        <% if can? :manage, :projects %>
          <a href="<%= edit_project_path(@project) %>">
            <i class="fa fa-pencil-square-o"></i>
            Edit
          </a>
        <% end %>
      </div>
      <div class="pull-right c-project-header__fav">
        <% if @favorite %>
          <a href="<%= favorite_project_path(@project) %>">
            <i class='fa fa-minus-circle'></i>
            <p>Remove shortcut from sidebar</p>
          </a>
        <% else %>
          <a href="<%= favorite_project_path(@project) %>">
            <i class='fa fa-plus-circle'></i>
            <p>Add shortcut to sidebar</p>
          </a>
        <% end %>
      </div>
      <div class="c-project-header__name">
        <%= @project.name %>
      </div>
      <div class="c-project-header__client-name">
        <%= @project.client.name %>
      </div>
      <div class="c-project-header__tabs">
        <ul>
          <li>
            <a href="<%= project_path(@project) %>" class="<%= from == 'show' ? 'active' : '' %>">
              <i class="fa fa-home"></i>
              <br>
              Summary
            </a>
          </li>
          <li>
            <a href="<%= team_performance_project_path(@project) %>" class="<%= from == 'team_performance' ? 'active' : '' %>">
              <i class="fa fa-line-chart"></i>
              <br>
              Team Performance
            </a>
          </li>
          <li>
            <a href="<%= time_distribution_project_path(@project) %>" class="<%= from == 'time_distribution' ? 'active' : '' %>">
              <i class="fa fa-pie-chart"></i>
              <br>
              Time Distribution
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
