<div class="col-md-4">
  <div class="box box-widget widget-user">
    <a class="img-circle" href="<%= url %>">
      <div class="widget-user-header bg-green" style="text-align: center">
        <h3 class="widget-user-username"><%= p.name %></h3>
      </div>
      <div class="widget-user-image">
        <%= image_tag 'project.png', class: 'img-circle' %>
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">Team Size</h5>
              <span class="description-text"></span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">Team Leader</h5>
              <span class="description-text"><%= p.team_leader.try(:full_name)  || "-" %></span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">Expected Weekly Hours</h5>
              <span class="description-text"><%= p.expected_hours || "-" %></span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
