<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= @project.stats[:avg_four_weeks] %><sup style="font-size: 15px"> hours/week</sup></h3>
        <p>Avg weekly hours (last 4 weeks)</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= @project.stats[:expected_hours] %><sup style="font-size: 15px"> hours</sup></h3>
        <p>Expected weekly hours</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <% if @project.stats[:remaining_weeks] %>
          <h3><%= @project.stats[:remaining_weeks] %><sup style="font-size: 15px"> weeks</sup></h3>
          <p>Remaining weeks</p>
        <% else %>
          <h3><%= @project.stats[:contract_end_date] %></sup></h3>
          <p>Contract End Date</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <% if @project.stats[:this_week][:hours].to_i > 0 %>
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= @project.stats[:this_week][:hours] %><sup style="font-size: 15px"> hours</sup></h3>
          <p><%= @project.stats[:this_week][:week] %></p>
        </div>
      </div>
    <% else %>
      <a href="<%= work_entries_project_path %>">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>-</h3>
            <p>Add data for last week</p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
