<div class="c-white-box">
  <div class="row">
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Average Weekly Hours last 4 Weeks</div>
        <div class="c-list__item__value"><%= @project.stats[:avg_four_weeks] %> h /week</div>
        <div class="c-list__item__action">
          <a href="<%= hours_project_path(@project) %>" class="o-button">Explore Distribution</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Average Velocity last 10 Periods</div>
        <div class="c-list__item__value"><%= @project.stats[:avg_velocity] %></div>
        <div class="c-list__item__action">
          <a href="<%= velocity_project_path(@project) %>" class="o-button">Explore Velocity</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="c-list__item">
        <div class="c-list__item__key">Contract End</div>
        <div class="c-list__item__value"><%= @project.stats[:contract_end_date] %></div>
        <div class="c-list__item__action">
          <a href="<%= edit_project_path(@project) %>" class="o-button">Edit Project</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-white-box">
  <div class="row">
    <div class="col-xs-6 o-separator-right">
      <div class="c-white-box__title">Mision</div>

      <div class="c-white-box__desc">
        <%= @project.mision || "<i>This project has no mision</i>".html_safe %>
      </div>

      <div class="c-white-box__action">
        <a ng-click="triggerMisionModal()" class="o-button">Edit Mision</a>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="c-white-box__title">Vision</div>

      <div class="c-white-box__desc">
        <%= @project.vision || "<i>This project has no vision</i>".html_safe %>
      </div>

      <div class="c-white-box__action">
        <a ng-click="triggerVisionModal()" class="o-button">Edit Vision</a>
      </div>
    </div>
  </div>
</div>
