<div class="c-white-box">
  <div class="row">
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Average Weekly Hours</div>
        <div class="c-list__item__value"><%= @project.stats[:avg_four_weeks] %> h/we</div>
        <div class="c-list__item__action">
          <a href="<%= time_distribution_project_path(@project) %>" class="o-button">Explore Distribution</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Average Velocity</div>
        <div class="c-list__item__value">1892h</div>
        <div class="c-list__item__action">
          <a href="<%= team_performance_project_path(@project) %>" class="o-button">Explore Velocity</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="c-list__item">
        <div class="c-list__item__key">Contract End</div>
        <div class="c-list__item__value"><%= @project.stats[:contract_end_date] %></div>
        <div class="c-list__item__action">
          <a href="<%= edit_project_path(@project) %>" class="o-button">Edit Project</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-white-box">
  <div class="row">
    <div class="col-xs-6 o-separator-right">
      <div class="c-white-box__title">Mision</div>

      <div class="c-white-box__desc">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
        <div>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
        <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
        <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
        <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
        <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
      </div>

      <div class="c-white-box__action">
        <a ng-click="triggerMisionModal()" class="o-button">Edit</a>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="c-white-box__title">
        Vision
      </div>

      <div class="c-white-box__action">
        <a ng-click="triggerVisionModal()" class="o-button">Edit</a>
      </div>
    </div>
  </div>
</div>
