<%= render partial: 'shared/page_title', locals: { title: @project.name } %>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Project Management Details</h3>
        </div>

        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="box-body">

            <div class="form-group">
              <label>Team Leader</label>
              <%= select_tag 'project[team_leader_id]', options_from_collection_for_select(@team_members, "id", "name", @project.team_leader_id), class: "form-control"  %>
              <p class="help-block">
                Select who is in charge of the project.
              </p>
            </div>

            <div class="form-group">
              <label>Hired Hours</label>
              <%= text_field_tag 'project[hired_hours]', @project.hired_hours, type: 'number', class: "form-control", placeholder: "2700" %>
              <p class="help-block">
                Leave this value blank if the project is contract based.
              </p>
            </div>

            <div class="form-group">
              <label>Expected Weekly Hours</label>
              <%= text_field_tag 'project[expected_hours]', @project.expected_hours, type: 'number', class: "form-control", placeholder: "160" %>
              <p class="help-block">
                This number won't be considered in future estimates. Those estimates will be based on real weekly hours.
                This value is the expected hours that the project should be using in a weekly basis.
              </p>
            </div>

            <div class="form-group">
              <label>Contract End Date</label>
              <%= text_field_tag 'project[contract_end_date]', @project.contract_end_date, type: 'date', class: "form-control" %>
              <p class="help-block">
                This value displays the end date of the current contract.
              </p>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Project Process Details</h3>
        </div>

        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="box-body">
            <div class="form-group">
              <label>Daily Meetings</label>
              <%= text_field_tag 'project[daily_meeting]', @project.daily_meeting, class: "form-control", placeholder: "Every day at 12" %>
            </div>

            <div class="form-group">
              <label>Retrospectives</label>
              <%= text_field_tag 'project[retrospectives]', @project.retrospectives, class: "form-control", placeholder: "Every two weeks" %>
            </div>

            <div class="form-group">
              <label>Iteration Plannings</label>
              <%= text_field_tag 'project[iteration_planning]', @project.iteration_planning, class: "form-control", placeholder: "Every two weeks on Friday" %>
            </div>

            <div class="form-group">
              <label>Estimates Model</label>
              <%= text_field_tag 'project[estimates_model]', @project.estimates_model, class: "form-control", placeholder: "Asynchronous Planning Poker" %>
            </div>

            <div class="form-group">
              <label>Issue Tracker</label>
              <%= text_field_tag 'project[issue_tracker]', @project.issue_tracker, class: "form-control", placeholder: "JIRA" %>
            </div>

            <div class="form-group">
              <label>Code Review Model</label>
              <%= text_field_tag 'project[code_review_model]', @project.code_review_model, class: "form-control", placeholder: "Gerrit" %>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Mision & Vision</h3>
        </div>

        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="box-body">
            <div class="form-group">
              <label>Mision</label>
              <%= text_area_tag 'project[mision]', @project.mision, class: "form-control", placeholder: "Mision" %>
              <p class="help-block">

              </p>
            </div>

            <div class="form-group">
              <label>Vision</label>
              <%= text_area_tag 'project[vision]', @project.vision, class: "form-control", placeholder: "Vision" %>
              <p class="help-block">

              </p>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Add Velocity Entry</h3>
        </div>

        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="box-body">
            <div class="form-group">
              <label>Period</label>
              <%= text_field_tag 'points_completed_entries[period]', nil, class: "form-control", placeholder: "03-21 - 03-28" %>
            </div>

            <div class="form-group">
              <label>Points Completed</label>
              <%= text_field_tag 'points_completed_entries[points_completed]', nil, type: 'integer', class: "form-control", placeholder: 12 %>
              <p class="help-block">
                This value will be added as the last velocity entry of the project. If you have more than one entry,
                you should enter each value in order.
              </p>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Add", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
