<%= render partial: 'shared/page_title',
  locals: {
    title: @project.name,
    description: @project.client.name,
    menu: [
      { icon: 'home', key: 'Summary', url: project_path(@project), active: false },
      { icon: 'line-chart', key: 'Team Performance', url: velocity_project_path(@project), active: false },
      { icon: 'pie-chart', key: 'Time Distribution', url: hours_project_path(@project), active: false }
    ],
    right_action: { text: (@favorite.present? ? 'Remove Favorite' : 'Mark as Favorite'), link: favorite_project_path(@project), angular_method: '' }
  }
%>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Project General Details</h3>
        </div>

        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="box-body">
            <div class="form-group">
              <label>Project Summary</label>
              <%= text_area_tag 'project[summary]', @project.summary, class: "form-control" %>
            </div>

            <div class="form-group">
              <label>Velocity Frequency</label>
              <%= select_tag 'project[velocity_frequency_in_days]', options_for_select([["Weekly", "7"], ["Every 2 weeks", "14"]], @project.velocity_frequency_in_days), class: "form-control" %>
              <p class="help-block"></p>
            </div>

            <div class="form-group">
              <label>Default Billable</label>
              <%= select_tag 'project[billable]', options_for_select([["Billable", "billable"], ["Non Billable", "non_billable"]], (@project.billable.nil? ? (current_account.billable ? 'billable' : 'non_billable') : @project.billable ? 'billable' : 'non_billable')), class: "form-control"  %>
              <p class="help-block">
                By default, define if time entries of this project should be billable or not.
              </p>
            </div>

            <div class="form-group">
              <label>Color</label>
              <%= text_field_tag 'project[color]', @project.color, type: 'text', class: "form-control colorpicker-element" %>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Project Management Details</h3>
        </div>

        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="box-body">

            <div class="form-group">
              <label>Team Leader</label>
              <%= select_tag 'project[team_leader_id]', options_from_collection_for_select(@users, "id", "full_name", @project.team_leader_id), class: "form-control"  %>
              <p class="help-block">
                Select who is in charge of the project.
              </p>
            </div>

            <div class="form-group">
              <label>Hired Hours</label>
              <%= text_field_tag 'project[hired_hours]', @project.hired_hours, type: 'number', class: "form-control", placeholder: "2700" %>
              <p class="help-block">
                Leave this value blank if the project is contract based.
              </p>
            </div>

            <div class="form-group">
              <label>Expected Weekly Hours</label>
              <%= text_field_tag 'project[expected_hours]', @project.expected_hours, type: 'number', class: "form-control", placeholder: "160" %>
              <p class="help-block">
                This number won't be considered in future estimates. Those estimates will be based on real weekly hours.
                This value is the expected hours that the project should be using in a weekly basis.
              </p>
            </div>

            <div class="form-group">
              <label>Contract End Date</label>
              <%= text_field_tag 'project[contract_end_date]', @project.contract_end_date, type: 'date', class: "form-control" %>
              <p class="help-block">
                This value displays the end date of the current contract.
              </p>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Project Process Details</h3>
        </div>

        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="box-body">
            <div class="form-group">
              <label>Daily Meetings</label>
              <%= text_field_tag 'project[daily_meeting]', @project.daily_meeting, class: "form-control", placeholder: "Every day at 12" %>
            </div>

            <div class="form-group">
              <label>Retrospectives</label>
              <%= text_field_tag 'project[retrospectives]', @project.retrospectives, class: "form-control", placeholder: "Every two weeks" %>
            </div>

            <div class="form-group">
              <label>Iteration Plannings</label>
              <%= text_field_tag 'project[iteration_planning]', @project.iteration_planning, class: "form-control", placeholder: "Every two weeks on Friday" %>
            </div>

            <div class="form-group">
              <label>Estimates Model</label>
              <%= text_field_tag 'project[estimates_model]', @project.estimates_model, class: "form-control", placeholder: "Asynchronous Planning Poker" %>
            </div>

            <div class="form-group">
              <label>Issue Tracker</label>
              <%= text_field_tag 'project[issue_tracker]', @project.issue_tracker, class: "form-control", placeholder: "JIRA" %>
            </div>

            <div class="form-group">
              <label>Code Review Model</label>
              <%= text_field_tag 'project[code_review_model]', @project.code_review_model, class: "form-control", placeholder: "Gerrit" %>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
