<%= render partial: 'shared/page_title', locals: { title: 'Projects' } %>

<section class="content">

  <% @clients.each do |client| %>
    <div class="box box-widget">
      <div class="box-header with-border">
        <div class="user-block">
          <span class="username" style="margin-left: 0"><%= client.name %></span>
          <span class="description" style="margin-left: 0"><%= "#{client.projects.length} projects" %></span>
        </div>
        <% if can? :manage, :projects %>
          <div class="box-tools pull-right">
            <a href="<%= new_project_path({ client_id: client.id }) %>"><span class="label label-info">Add New Project</span></a>
          </div>
        <% end %>
      </div>
      <div class="box-body">
        <div class="row">
          <% if client.projects.present? %>
            <% client.projects.each do |project| %>
              <%= render partial: 'projects/project_box', locals: { p: project, url: project_path(project), description: project.vision } %>
            <% end %>
          <% else %>
            <div class="c-emtpy-client">
              <%= image_tag 'project.svg', class: 'c-emtpy-client__image' %>
              <div class="c-emtpy-client__title">
                This client doesn't have any project.
              </div>
              <div class="c-emtpy-client__description">
                See the list of the projects here.
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</section>
