<%= render partial: 'header', locals: { from: "time_distribution" } %>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="c-header-exp text-center">
        <div class="c-header-exp__line"></div>
        <div class="c-header-exp__title">
          Time Distribution
        </div>
      </div>

      <%= render partial: "time_usage_report" %>
      <%= render partial: "total_time" %>
      <%= render partial: "radar" %>
      <%= render partial: "historical" %>
    </div>
  </div>

</section>
