<%= render partial: 'shared/page_title',
  locals: {
    title: @project.name,
    description: @project.client.name,
    menu: []
  }
%>


<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-danger">
        <%= form_tag(enter_work_entries_project_path, method: "post") do %>
          <div class="box-header with-border">
            <h3 class="box-title">Week</h3>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <%= select_tag 'week',
                          options_for_select([
                            Date.today.beginning_of_week(:monday) - 1.week,
                            Date.today.beginning_of_week(:monday) - 2.week,
                            Date.today.beginning_of_week(:monday) - 3.week,
                            Date.today.beginning_of_week(:monday) - 4.week,
                            Date.today.beginning_of_week(:monday) - 5.week,
                            Date.today.beginning_of_week(:monday) - 6.week,
                            Date.today.beginning_of_week(:monday) - 7.week,
                            Date.today.beginning_of_week(:monday) - 8.week,
                            Date.today.beginning_of_week(:monday) - 9.week,
                            Date.today.beginning_of_week(:monday) - 10.week
                          ]),
                          class: "form-control"  %>
                </div>
              </div>
            </div>
          </div>

          <% @users.each do |user| %>
            <div class="box-header with-border">
              <h3 class="box-title"><%= user.full_name %></h3>
            </div>

            <div class="box-body">
              <div class="row">
                <% [
                      { cat_id: 1, name: 'Communication', size: 1 },
                      { cat_id: 2, name: 'Development', size: 1 },
                      { cat_id: 3, name: 'Bug Fixing', size: 1 },
                      { cat_id: 4, name: 'Code Review', size: 1 },
                      { cat_id: 5, name: 'QA', size: 1 },
                      { cat_id: 6, name: 'Infraestructure', size: 1 },
                      { cat_id: 7, name: 'UXUI', size: 1 }
                   ].each do |cat| %>

                   <div class="col-xs-<%= cat[:size] %>">
                     <div class="form-group">
                       <label><%= cat[:size] == 1 ? "<small>#{cat[:name]}</small>".html_safe : cat[:name] %></label>
                       <%= text_field_tag "entries[#{user.id}--#{cat[:cat_id]}]", "", class: "form-control", placeholder: cat[:name] %>
                     </div>
                   </div>

                 <% end %>
              </div>
            </div>
          <% end %>

          <div class="box-footer">
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
