<%= render partial: 'shared/page_title', locals: { title: "#{ @project.name } - Time Entries " } %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-danger">
        <%= form_tag(enter_work_entries_project_path, method: "post") do %>
          <% @team_members.each do |tm| %>
            <div class="box-header with-border">
              <h3 class="box-title"><%= tm.name %></h3>
            </div>

            <div class="box-body">
              <div class="row">
                <% [
                      { cat_id: 1, name: 'Communication', size: 2 },
                      { cat_id: 2, name: 'Development', size: 2 },
                      { cat_id: 3, name: 'Bug Fixing', size: 2 },
                      { cat_id: 4, name: 'Code Review', size: 2 },
                      { cat_id: 5, name: 'QA', size: 2 },
                      { cat_id: 6, name: 'Infraestructure', size: 1 },
                      { cat_id: 7, name: 'UXUI', size: 1 }
                   ].each do |cat| %>

                   <div class="col-xs-<%= cat[:size] %>">
                     <div class="form-group">
                       <label><%= cat[:size] == 1 ? "<small>#{cat[:name]}</small>".html_safe : cat[:name] %></label>
                       <%= text_field_tag "entries[#{tm.id}--#{cat[:cat_id]}]", "", class: "form-control", placeholder: cat[:name] %>
                     </div>
                   </div>

                 <% end %>
              </div>
            </div>
          <% end %>

          <div class="box-footer">
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
