<section id= "content" class="content" ng-controller="TimeEntryController" %>

  <div class="row">
    <%= render partial: "current_entry" %>
    <%= render partial: "time_entries" %>
  </div>

  <%= render partial: "project_modal" %>
  <%= render partial: "category_modal" %>
  <%= render partial: "billable_modal" %>

</section>
