
<div class="login-box">
  <div class="login-box-body">
    <div class="login-logo">
      <a href="<%= root_path %>" class="logo">
        <img src="https://mojito.eventemo.com/assets/clients/mojito/logo-large.png" style="width: 120px;">
      </a>
    </div>
    
    <p class="login-box-msg">Sign in to start your session</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password" %>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck"></div>
        </div>
        <div class="col-xs-4">
          <%= f.submit "Log in", class: "btn btn-primary btn-block btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
