<!DOCTYPE html>
<html>
  <head>
    <title>Mojito</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="hold-transition skin-green sidebar-mini" style="background-color: #222d32" ng-app='MojitoApp', ng-controller='MainController'>
    <%= render 'shared/header' %>
    <%= render 'shared/sidebar' %>
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
